.header__nav-icon:focus {
  outline: none;
  box-shadow: none;
}

.header-nav__link {
  transition: color 0.3s ease-out;

  &:hover {
    color: $primary-color;
  }
}

.header-search {
  position: relative;
  width: 40px;
  height: 40px;

  input {
    @include text(14px, gray);
    background-color: #fff;
    border: 1px solid gray;
    padding: 8px 16px;
    border-radius: 24px;
    width: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.search-active {
  width: 200px;
  input {
    width: auto;
    opacity: 1;
  }
  .close-icon {
    right: -30px;
  }
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon {
  position: absolute;
  top: 4px;
  right: -4px;
  width: 30px;
  height: 30px;
  background-color: $primary-color;
  color: #fff;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .header-logo {
    background-color: #fff;
    padding: 30px 0px;
    text-align: center;
    display: inline-block;
    margin-bottom: -75px;
    position: relative;
    z-index: 10;
  }
}
